@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --primary: 48 97% 50%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 48 97% 50%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 48 97% 50%;
    --input: 240 5.9% 90%;
    --ring: 48 97% 50%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  .container {
    @apply px-8 md:px-12 max-w-6xl mx-auto;
  }

  /* Add yellow accents */
  .button-primary {
    @apply bg-primary text-primary-foreground hover:bg-primary/90;
  }

  .nav-link-active {
    @apply text-primary font-semibold;
  }

  .section-title {
    @apply text-3xl font-bold text-foreground border-b-2 border-primary pb-2 mb-6;
  }

  .background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Ajusta la opacidad según tus necesidades */
    width: 100; /* Asegúrate de que ocupe todo el ancho de la pantalla */
    /*margin-left: calc(-50vw + 50%); /* Centra la imagen horizontalmente */

  }
}

/* styles.css o global.css */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Define una clase para aplicar la fuente */
.permanent-marker-regular {
  font-family: 'Permanent Marker', serif;
  font-weight: 400;
  font-style: normal;
}

/* styles.css o global.css */
.background-fade {
  
}

.background-fade::before,
.background-fade::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 50px; /* Ajusta la altura del fade según tus necesidades */
  z-index: 1;
}

.background-fade::before {
  top: 0;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.background-fade::after {
  bottom: 0;
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}